<app-navbar-menu></app-navbar-menu>



<main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Memotest</h1>
        <p class="parrafo"> El Memotest es un juego maravilloso que no sólo permite al niño desarrollar su memoria, orientarse en el espacio, el reconocimiento visual, entre otros, sino que además facilita la incorporación de conocimientos y saberes de la cultura general de manera lúdica. </p>
        <p>
          <a routerLink="juegos/sala-juegos" class="btn btn-secondary my-2">« Volver a la Sala de Juegos</a>
        </p>
      </div>
    </section>

    <div class="pointer">
      <span><b>Resultados: {{resultado}}</b></span>
    
      </div>
      <div class="contenedor">
        
        <div *ngIf="loadBand == true" class="text-center loadBandClass">
          <div class="spinner-border text-danger" role="status">
            <span class="sr-only">Loading..</span>
          </div><br>
          <span><b>Cargando...</b></span>
        </div>

        <div class="cont-imgs" *ngFor="let item of card; let i = index" >
          <img class="imgsup" (click)="seleccion($event)" src="{{imgMarvel}}" id="{{i}}">
        </div>
      </div>
      <div class="botones">
        <button class="juegoNuevo" (click)='inicio()' class="btn btn-sm btn-outline-secondary">Jugar de nuevo</button>
      </div>

  </main>

<app-chat></app-chat>


<app-footer></app-footer>