/* Jumbo generico */
.jumbotron {
    padding: 4rem 2rem;
    margin-bottom: 0rem;
    background-color: #e9ecef;
    border-radius: .3rem;

        background-color: #000;
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../../../../assets/imagenes/mario.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;

}

h1{
    color: #ffc107;
}

h2{
    text-align: center;
}

.juegos{
    margin-top: 1%; 
    margin-bottom: 1%; 
}

.parrafo{
    color: rgb(174, 174, 174);
}   
  
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }



/* Mi juego */
.contenedor, .pointer, .botones{
    width: 700px;
}

.contenedor{
    margin: auto;
    height: 570px;
    border: 5px rgb(131, 131, 131);
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-color: #c9c9c9;
    padding-top: 1%;
}


.pointer{
    margin: auto;
    background-color: #444;
    border-bottom: 0px;
    height: 50px;
    text-align: center;
    padding: 10px 0px;
    color: whitesmoke;
    margin-top: 2%;
}

.botones{
    margin: auto;
    background-color: #444;
    border-bottom: 0px;
    height: 50px;
    text-align: center;
    padding: 10px 0px;
    color: whitesmoke;
    margin-bottom: 2%;
}


.cont-imgs{
    width: 130px;
    height: 130px;
    border: 1px solid gray;
    border-radius: 10%;
    margin: 3%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #444;
}

.imgsup{
    width: 120px;
    height: 120px;
    border-radius: 10%;
}

.resultado{
    padding: 2px;
    margin: auto;
    width: 200px;
    height: 30px;
    background-color:rgb(255, 193, 7);
    text-align: center;
    border-radius: 3px;
}


/* querys */

@media only screen and (max-width: 600px) {
    .contenedor {
        width: 100%;
        height: 316px;
    }

    .pointer{
        height: 50px;
        width: 100%;
    }


    .botones{
        height: 50px;
        width: 100%;
    }

    .cont-imgs {
        width: 71px;
        height: 77px;
        border: 1px solid gray;
        border-radius: 10%;
        margin: 3%;
        float: left;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #444;
    }

    .imgsup {
        width: 70px;
        height: 70px;
        border-radius: 10%;
    }
    
  }



  .loadBandClass{
      height: 400px;
  }

  .spinner-border{
      margin-top: 30%;
  }