<app-navbar-menu></app-navbar-menu>


<!-- First Container -->

<div class="album py-5" id="uno">
    <div class="container">
      <div class="col-lg-4 mx-auto text-center" id="cartita">
        <img src="./assets/imagenes/yo.png" width="250" class="rounded-circle" alt="Cinque Terre">
        <h2>¿Quien Soy?</h2>
        <p>Soy Matías Ercolani alumno de la UTN FRA</p>
        <p><a class="btn btn-secondary" href="https://github.com/Quemero94" target="_blank" role="button">GitHub
            &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
  
    </div>
  </div>
  
  <!-- Second Container -->
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="card-body mx-auto text-center" id="cartita">
        <h2>Nombre Juego</h2>
        <p>Explicacion: Un salón de juegos es un establecimiento de juegos de azar que ofrece exclusivamente juegos de cartas al
          público. Generalmente, el término salón de póquer es sinónimo, dado que los juegos de azar que típicamente se
          juegan en tales establecimientos son variaciones de póquer como Texas hold 'em.</p>
        <p><a class="btn btn-secondary" href="https://github.com/Quemero94" target="_blank" role="button">Jugar
            &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
  
    </div>
  </div>
  
<app-footer></app-footer>