<!-- Navbar Menu -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" routerLink="/home">
        <img src="assets/imagenes/minijuegos.png" width="30" height="30" class="d-inline-block align-top" alt=""> Mini
        Juegos
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon" id="cielo"></span>
      </button>
  
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/home">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" href="https://github.com/matiasercolani" target="_blank"> <i class="fa fa-github"></i> GitHub
            </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/quien-soy"> <i class="	fa fa-users"></i> Quien Soy</a>
          </li>
        </ul>
  
        <ul class="navbar-nav mr-left">
  
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/Login"> <i class="fa fa-sign-in"></i> Ingresar</a>
          </li>-->
          <li class="nav-item">
            <a class="nav-link" routerLink="/registro"> <i class="fa fa-user-plus"></i> Registrarse</a>
          </li>
          <li class="nav-item">
  
          <button class="btn btn-outline-warning" (click)="salir()"><i class="fa fa-sign-out"></i> Salir</button>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Navbar Menu -->