<app-navbar-menu></app-navbar-menu>



<main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Sala de Juegos</h1>
        <p class="parrafo">Salón de juegos es un establecimiento de juegos de azar que ofrece exclusivamente juegos de cartas al público. Generalmente, el término salón de póquer es sinónimo, dado que los juegos de azar que típicamente se juegan en tales establecimientos son variaciones de póquer como Texas hold 'em.</p>
        <p>
          
          <a routerLink="/home" class="btn btn-secondary my-2">« Volver al menu principal</a>
        </p>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container juegos">

        <div class="row">
          <div class="col-md-3">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../../../../assets/imagenes/ppt.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text"><b>Piedra Papelo o Tijera</b></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" [routerLink]="['/juegos/ppt']" class="btn btn-sm btn-outline-secondary">Jugar</button>
                  </div>
                  <small class="text-muted">10 puntos</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../../../../assets/imagenes/tateti.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text"><b>Ta Te Ti</b></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" routerLink="/juegos/tateti" class="btn btn-sm btn-outline-secondary">Jugar</button>
                  </div>
                  <small class="text-muted">5 puntos</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../../../../assets/imagenes/memotest.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text"><b>Memo test</b></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Jugar</button>
                  </div>
                  <small class="text-muted">15 puntos</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card mb-4 box-shadow">
              <img class="card-img-top" src="../../../../assets/imagenes/my-game.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text"><b>Mi juego</b></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Jugar</button>
                  </div>
                  <small class="text-muted">10 puntos</small>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  </main>



<app-footer></app-footer>