<app-navbar-menu></app-navbar-menu>



<main role="main">

    <section class="jumbotron text-center">
      <div class="container">
        <h1 class="jumbotron-heading">Piedra Papel o Tijera</h1>
        <p class="parrafo">La piedra gana a las tijeras porque las rompe, las tijeras ganan al papel porque lo cortan, el papel gana a la piedra porque la envuelve. Los dos jugadores se pondrán uno frente al otro con una mano a la espalda y dirán: «piedra, papel o tijera», justo al acabar la frase enseñarán las manos y verán quien gana.</p>
        <p>
          
          <a routerLink="juegos/sala-juegos" class="btn btn-secondary my-2">« Volver a la Sala de Juegos</a>
        </p>
      </div>
    </section>

    <div class="album py-5 bg-light">
      <div class="container juegos">


        <!-- PPT -->
        <div class="container-ppt">

            <div id="resultado">
                <p>Machine (CPU)</p>
                <img class="imgMachine" src="{{imgMachine}}">
                <hr  />
                  <h2>{{resultado}}</h2>
                <hr  />
                <p>Usuario</p>
                <img class="imgMachine" src="{{imgUser}}">
                <hr  />
            </div>

            
            
            <div class="texto-comenzar">
                
                Elegi Piedra Papel o Tijera
            </div>

            <div id="group-btn">
                <button (click)='jugar(0)'>
                    <img src="../../../../assets/imagenes/piedra.jpeg">
                </button>
                <button (click)='jugar(1)'>
                    <img src="../../../../assets/imagenes/papel.jpeg">
                </button>
                <button (click)='jugar(2)'>
                    <img src="../../../../assets/imagenes/tijera.jpeg">
                </button>
            </div>

        </div>

        </div>
      </div>
    

  </main>

<app-chat></app-chat>


<app-footer></app-footer>