/* You can add global styles to this file, and also import other style files */
body{
    overflow-x: hidden;
 }


 /*
Sirve para poner 3 puntos automaticamente...
*/

.block-ellipsis {
    font-size: 13px;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 50px;
    margin: 0 auto;
    line-height: 1;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }